
/* index.html */ 

.cabecalho {
	display: flex;
	background: #EBEBEB;
} 

h1 {
	position: absolute;
	font-family: times;
	font-weight: bold;
	font-size: 40px;
	margin-top: 180px;
	margin-left: 45px;
	word-spacing: 6px;
	letter-spacing: 1px;
	line-height: 55px;
}

strong {
	color: #0016FA;
}


.acesse {
	position: absolute;
	width: 120px;
	height: 9px;
	text-decoration: none;
	margin-top: 360px;
	margin-left: 120px;
	text-align: center;
	border-radius: 30px;
	font-weight: bold;
	color: #FFFFFF;
	background: #1283FF;
	font-size: 25px;
	padding: 15px;
	
}

.img {
	margin-left: 450px;
	margin-top: 50px;
	width: 55%;
}

.caixa-classe {
	display: flex;
	justify-content: space-around;
	margin-block: 100px;
}

.caixa {
	background: #E8E8E8;
	width: 240px;
	border: 2px solid #E0E0E0;
	text-align: center;
	padding: 15px;
	font-family: sans-serif;
	font-size: 22px;
	color:#000000;
	
}

.icon {
	width: 90px;
	Height: 90px;
	margin-left: 15px;
}

.faq {
	margin-block-end: 330px;
}

.question {
	margin-top: 15px;
	margin-left: 190px;
	font-size: 18px;
	color: #0037CF;
	width: 600px;
   border: none;
   background: #DCDCDC;
   padding: 20px;
}

.question input,
.question .answer { display: none }

.question label {
  display: inline;
  font-weight: bold;
  margin-bottom: 10px;
}

.question input:checked ~ .answer {
  display: block;
  padding-top: 20px;
  color: #222222;
}

.fim {
	width: 250px;
	height: 150px;
}


.rodape {
	background: #EBEBEB;
	text-align: center;
	padding-top: 120px;
	padding-block-end: 10px;
}

.logos {
	display: flex;
	justify-content: space-around;

}
